@font-face {
    font-family: Gilroy;
    src: url("/fonts/Gilroy-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: Gilroy;
    src: url("/fonts/Gilroy-Semibold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: Gilroy;
    src: url("/fonts/Gilroy-Bold.ttf");
    font-weight: 700;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;